*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(41, 34, 40);
}
div
{
    font-family: Georgia;
font-size: 15px;
color:chocolate
}
P { text-align: center}
P{font-size: 20px;}
IMG.displayed 
{
    display: block;
    margin-left: auto;
    margin-right: auto 
}